.contentContainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 900px;
  align-items: center;
  justify-content: center;
}
.contentContainer img{
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px var(--color_secundario);
}
.contentContainer p{
  padding-top: 20px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: var(--fuente1);
}
.title{
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: var(--fuente2);
}