.hero {
  width: 100%;
  max-width: 1920px;
}
.heroBackground {
  background-image: url(/static/img/background_hero.jpg);
  max-width: 1920px;
  max-height: 826px;
  width: 100%;
  visibility: visible;
  height: 43vw;
  display: flex;
  align-items:center;
  background-position: center top;
  flex-direction: column;
  justify-content: space-evenly;
}
.heroTitle {
  width: 334px;
  height: 272px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 130px; */
}
.heroSlogan {
  margin-bottom: auto;
  color: var(--color_principal);
  font-size: var(--size_menu_1920);
  text-transform: uppercase;
  font-family: var(--fuente1);
  font-weight: bold;
  letter-spacing: -1.26px;
  border-bottom: 2px solid var(--color_principal);
  word-spacing: 0.4em;
}

@media (max-width: 768px){
  .hero {
    max-width: 768px;
    padding-top: 147px;
  }
}