.listOfBlogs {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
  margin: auto;
}
.aboutTitle {
  margin-top: 280px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}
.title {
  text-transform: uppercase;
  font-size: 87px;
  font-family: var(--fuente2);
  color: var(--color_terciario);
  text-align: center;
  -webkit-text-stroke: 2.5px var(--color_terciario);
  letter-spacing:0.2rem;
}
.aboutContent {
  display: flex;
  flex-direction: row;
  height: 550px;

}