:root {
  --color_principal: #f4efe2;
  --color_secundario: #c66a48;
  --color_terciario: #4c4b10;
  --color_blanco: white;
  --fuente1: 'RobotoMono', sans-serif;
  --fuente2: 'BioRhyme', sans-serif;
  --size_menu_1920: 21px;
  --size_menu_1360: 17px;
  --size_menu_1024: 14px;
  --const1: (100vw / 2);
  --menu_width: calc(100vw/2 - 49px);
  --logo_width: 141px;
  --logo_width_s: 95px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color_principal);
  overflow-x: hidden;
}

body {
  max-width: 1920px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}
